/* fonts */

$font-heading: 'Noto Serif', serif !default;
$font-body: 'Noto Sans', sans-serif !default;

/* radius and padding */

$padding-width-sm: 3vw !default;
$padding-height-sm: 3vh !default;
$padding-width-lg: 6vw !default;
$padding-height-lg: 6vh !default;
